@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* fonts */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jura {
  font-family: 'Jura', sans-serif;
}

.tajawal {
  font-family: 'Tajawal', sans-serif;
}


/* global css  */
.promo-product:hover img {
  transform: scale(1.5);
}

.promo-product img {
  transition: 0.7s;
}

.promo-product {
  overflow: hidden;
}

.swiper-pagination-bullet {
  background: black !important;
}

/* watch-slider section */

.watch-slider {
  position: relative;
  z-index: 1;
}

.watch-slider:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  color: #1a1a1a;
  background: currentcolor;
  opacity: 0.8;
}